{% load my_tag %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object.name}}</p>
            <p class="card-text">Описание: {{ object.description|slice:":100"}}</p>
            <img class="card-img-top"
                 src="{{ object.picture|mymedia }}"
                 alt="Card image cap">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'main:product_detail' object.pk %}"  type="button" class="btn btn-sm btn-outline-secondary">К просмотру</a>
                </div>
            </div>
        </div>
    </div>
</div>